﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/UI/MasterPage/Main.Master" CodeBehind="cards-vedi-pdf.aspx.cs" Inherits="MigliorSalute.UI.WebPages.cards_vedi_pdf" %>

<%@ Register Assembly="MigliorSalute" Namespace="MigliorSalute.Core.Extender" TagPrefix="cc1" %>



<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
<p><asp:label id="lbl1" runat="server" /></p>
</asp:Content>