﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="CSEAdminManager.UI.MasterPage.Main" %>

<%@ Register Src="~/UI/WebControls/HeadScriptController.ascx" TagPrefix="uc1" TagName="HeadScriptController" %>
<%@ Register Src="~/UI/WebControls/DropdownNotification.ascx" TagPrefix="uc1" TagName="DropdownNotification" %>
<%@ Register Src="~/UI/WebControls/DropdownInbox.ascx" TagPrefix="uc1" TagName="DropdownInbox" %>
<%@ Register Src="~/UI/WebControls/DropdownToDo.ascx" TagPrefix="uc1" TagName="DropdownToDo" %>
<%@ Register Src="~/UI/WebControls/DropdownLogin.ascx" TagPrefix="uc1" TagName="DropdownLogin" %>
<%@ Register Src="~/UI/WebControls/NavSidebar.ascx" TagPrefix="uc1" TagName="NavSidebar" %>
<%@ Register Src="~/UI/WebControls/PageFooter.ascx" TagPrefix="uc1" TagName="PageFooter" %>
<%@ Register Src="~/UI/WebControls/ThemeChooser.ascx" TagPrefix="uc1" TagName="ThemeChooser" %>
<%@ Register Src="~/UI/WebControls/PageBreadcrumb.ascx" TagPrefix="uc1" TagName="PageBreadcrumb" %>
<%@ Register Src="~/UI/WebControls/PageGenericMessage.ascx" TagPrefix="uc1" TagName="PageGenericMessage" %>
<%@ Register Src="~/UI/WebControls/PageScripts.ascx" TagPrefix="uc1" TagName="PageScripts" %>



<!DOCTYPE html>
    <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
    <!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title><%=ConfigurationManager.AppSettings["APP_NAME"] %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

	    <uc1:HeadScriptController runat="server" ID="HeadScriptController" />
		
	    <asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server" />

    </head>

    <!-- BEGIN BODY -->
    <body class="page-header-fixed">
        <form runat="server">
        
            <!-- BEGIN HEADER -->
            <div class="header navbar navbar-fixed-top">
	            <!-- BEGIN TOP NAVIGATION BAR -->
	            <div class="header-inner">

		            <!-- BEGIN LOGO -->
		            <a class="navbar-brand" href="index.html">
			            <img src="assets/img/logo.png" alt="logo" class="img-responsive"/>
		            </a>
		            <!-- END LOGO -->

		            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
		            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <img src="assets/img/menu-toggler.png" alt=""/>
		            </a>
		            <!-- END RESPONSIVE MENU TOGGLER -->
		            <!-- BEGIN TOP NAVIGATION MENU -->
		            <ul class="nav navbar-nav pull-right">
                        <uc1:DropdownNotification runat="server" id="DropdownNotification" />
                        <uc1:DropdownInbox runat="server" id="DropdownInbox" />
                        <uc1:DropdownToDo runat="server" id="DropdownToDo" />
                        <uc1:DropdownLogin runat="server" id="DropdownLogin" />
		            </ul>
		            <!-- END TOP NAVIGATION MENU -->
	            </div>
	            <!-- END TOP NAVIGATION BAR -->
            </div>
            <!-- END HEADER -->
            <div class="clearfix">
            </div>
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
	    
                <uc1:NavSidebar runat="server" id="NavSidebar" />
		    
	            <!-- BEGIN CONTENT -->
	            <div class="page-content-wrapper">
		            <div class="page-content">
		
                        <uc1:ThemeChooser runat="server" id="ThemeChooser" />
			            <!-- BEGIN PAGE HEADER-->
			            <div class="row">
				            <div class="col-md-12">
					            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
					            <h3 class="page-title">
					            <%=this.BigTitle %> <small><%=this.SmallTitle %></small>
					            </h3>
                                <uc1:PageBreadcrumb runat="server" id="PageBreadcrumb" />
					            <!-- END PAGE TITLE & BREADCRUMB-->
				            </div>
			            </div>

                        <asp:ContentPlaceHolder ID="MainContentPlaceHolder" runat="server" />
		            </div>
	            </div>
	            <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
    
            <uc1:PageFooter runat="server" id="PageFooter" />

            <uc1:PageScripts runat="server" id="PageScripts" />

            <asp:ContentPlaceHolder ID="FooterScriptPlaceHolder" runat="server" />

            <uc1:PageGenericMessage runat="server" id="PageGenericMessage" />

        </form>
    </body>
    <!-- END BODY -->
</html>