﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="web-get-experta.aspx.cs" Inherits="MigliorSalute.UI.WebServices.Public.web_get_experta" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript">

        <%=this.PayPalRedirector %>

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <b>attendere prego, l'acquisto deve essere elaborato dal sistema e potrebbero volerci alcuni secondi mentre i dati vengono convalidati</b>
    </div>
    </form>
</body>
</html>
