﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="web-card-attivazione.aspx.cs" Inherits="MigliorSalute.UI.WebServices.Public.web_card_attivazione" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript">

        <%=this._PageRedirector %>

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <b>attendere prego mentre i dati vengono convalidati</b>
    </div>
    </form>
</body>
</html>
