﻿.cursor-default {
  cursor: default !important; }

.tipo-card {
  width: 100px !important; }

.input-mask-digit {
  text-align: left !important; }

.card-buy {
  /*width : 200px;
    height : 131.5px;*/ }

.buy-card-table .row {
  margin-left: -10px;
  margin-bottom: 10px; }

.buy-card-table tr td {
  padding-bottom: 10px; }

.buy-card-table input {
  width: 150px; }

.card-buy-description div {
  font-size: medium;
  font-weight: bold;
  font-size: small; }

.card-buy-description input {
  text-align: center;
  font-weight: bold;
  font-size: small; }

.card-buy-metodo-pagamento {
  margin-bottom: 20px; }
  .card-buy-metodo-pagamento .icona {
    float: left;
    margin-right: 10px; }
    .card-buy-metodo-pagamento .icona img {
      width: 128px;
      height: 128px; }
  .card-buy-metodo-pagamento .titolo {
    font-weight: bold;
    font-size: large; }
  .card-buy-metodo-pagamento .descrizione {
    font-size: small; }
  .card-buy-metodo-pagamento .azione {
    margin-top: 10px; }

#cards .cardrow:nth-child(even) .col-md-3 {
  background: #f8ebeb; }

#cards .cardrow:nth-child(odd) .col-md-3 {
  background: #FFF; }

.col-md-3 img {
  max-width: 100%;
  max-height: 100%; }

