.cursor-default {
    cursor : default !important;
}

.tipo-card {
    width:100px !important;
}

.input-mask-digit{
    text-align : left !important;
}

.card-buy {
    /*width : 200px;
    height : 131.5px;*/
}

.buy-card-table{
    .row{
        margin-left: -10px;
        margin-bottom:10px;
    }
    tr {
        td {
            padding-bottom:10px;
        }
    }
    input{
        width:150px;
    }
}

.card-buy-description {
    div {
        font-size : medium;
        font-weight:bold;
        font-size:small;
    }
    input {
        text-align:center;
        font-weight:bold;
        font-size:small;
    }
}

.card-buy-metodo-pagamento {
    margin-bottom:20px;
    .icona {
        img {
            width : 128px;
            height : 128px;
        }
        float:left;
        margin-right : 10px;
    }
    .titolo {
        font-weight : bold;
        font-size:large;
    }
    .descrizione {
        font-size:small;
    }
    .azione {
        margin-top:10px;
        //text-align :center;
    }
    
}

#cards {
    .cardrow:nth-child(even) {
        .col-md-3 {
            background: #f8ebeb;
        }
    }
    .cardrow:nth-child(odd) {
        .col-md-3 {
            background: #FFF;
        }
    }
}

.card-green {
    .col-md-3{
        //border:1px solid #36d7b7;
    }
}

.col-md-3{
    img {
        max-width: 100%;
        max-height: 100%;
    }
}