.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.padding-20 {
  padding: 20px !important; }

.obj-center {
  text-align: center; }

.obj-left {
  text-align: left; }

.obj-right {
  text-align: right; }

