﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DropdownInbox.ascx.cs" Inherits="MigliorSalute.UI.WebControls.DropdownInbox" %>
<!-- BEGIN INBOX DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<i class="fa fa-envelope"></i>
	<span class="badge badge-default">
	4 </span>
	</a>
	<ul class="dropdown-menu">
		<li>
			<p>
					You have 12 new messages
			</p>
		</li>
		<li>
			<ul class="dropdown-menu-list scroller" style="height: 250px;">
				<li>
					<a href="inbox.html?a=view">
					<span class="photo">
					<img src="../../assets/admin/layout/img/avatar2.jpg" alt=""/>
					</span>
					<span class="subject">
					<span class="from">
					Lisa Wong </span>
					<span class="time">
					Just Now </span>
					</span>
					<span class="message">
					Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
					</a>
				</li>
				<li>
					<a href="inbox.html?a=view">
					<span class="photo">
					<img src="../../assets/admin/layout/img/avatar3.jpg" alt=""/>
					</span>
					<span class="subject">
					<span class="from">
					Richard Doe </span>
					<span class="time">
					16 mins </span>
					</span>
					<span class="message">
					Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
					</a>
				</li>
				<li>
					<a href="inbox.html?a=view">
					<span class="photo">
					<img src="../../assets/admin/layout/img/avatar1.jpg" alt=""/>
					</span>
					<span class="subject">
					<span class="from">
					Bob Nilson </span>
					<span class="time">
					2 hrs </span>
					</span>
					<span class="message">
					Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
					</a>
				</li>
				<li>
					<a href="inbox.html?a=view">
					<span class="photo">
					<img src="../../assets/admin/layout/img/avatar2.jpg" alt=""/>
					</span>
					<span class="subject">
					<span class="from">
					Lisa Wong </span>
					<span class="time">
					40 mins </span>
					</span>
					<span class="message">
					Vivamus sed auctor 40% nibh congue nibh... </span>
					</a>
				</li>
				<li>
					<a href="inbox.html?a=view">
					<span class="photo">
					<img src="../../assets/admin/layout/img/avatar3.jpg" alt=""/>
					</span>
					<span class="subject">
					<span class="from">
					Richard Doe </span>
					<span class="time">
					46 mins </span>
					</span>
					<span class="message">
					Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
					</a>
				</li>
			</ul>
		</li>
		<li class="external">
			<a href="inbox.html">
			See all messages <i class="m-icon-swapright"></i>
			</a>
		</li>
	</ul>
</li>
<!-- END INBOX DROPDOWN -->