﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ServerPageError.ascx.cs" Inherits="MigliorSalute.UI.WebControls.ServerPageError" %>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    
        <!-- TODO ERRORE -->
                <%=Errore %>
    </div>
</div>