﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ThemeChooser.ascx.cs" Inherits="MigliorSalute.UI.WebControls.ThemeChooser" %>
<!-- BEGIN STYLE CUSTOMIZER -->
<div class="theme-panel hidden-xs hidden-sm">
	<div class="toggler">
	</div>
	<div class="toggler-close">
	</div>
	<div class="theme-options">
		<div class="theme-option theme-colors clearfix">
			<span>
			THEME COLOR </span>
			<ul>
				<li class="color-default current tooltips" data-style="default" data-original-title="Default">
				</li>
				<li class="color-darkblue tooltips" data-style="darkblue" data-original-title="Dark Blue">
				</li>
				<li class="color-grey tooltips" data-style="grey" data-original-title="Grey">
				</li>
				<li class="color-light tooltips" data-style="light" data-original-title="Light">
				</li>
				<li class="color-light2 tooltips" data-style="light2" data-html="true" data-original-title="Light 2">
				</li>
			</ul>
		</div>
		<div class="theme-option">
			<span>
			Layout </span>
			<select class="layout-option form-control input-small">
				<option value="fluid" selected="selected">Fluid</option>
				<option value="boxed">Boxed</option>
			</select>
		</div>
		<div class="theme-option">
			<span>
			Header </span>
			<select class="page-header-option form-control input-small">
				<option value="fixed" selected="selected">Fixed</option>
				<option value="default">Default</option>
			</select>
		</div>
		<div class="theme-option">
			<span>
			Sidebar </span>
			<select class="sidebar-option form-control input-small">
				<option value="fixed">Fixed</option>
				<option value="default" selected="selected">Default</option>
			</select>
		</div>
		<div class="theme-option">
			<span>
			Sidebar Position </span>
			<select class="sidebar-pos-option form-control input-small">
				<option value="left" selected="selected">Left</option>
				<option value="right">Right</option>
			</select>
		</div>
		<div class="theme-option">
			<span>
			Footer </span>
			<select class="page-footer-option form-control input-small">
				<option value="fixed">Fixed</option>
				<option value="default" selected="selected">Default</option>
			</select>
		</div>
	</div>
</div>
<!-- END STYLE CUSTOMIZER -->
